.center{
    width: 75%;
    margin: 10px auto;
    
  }
  
  .main-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  mat-card {
      width: 35%;
      border: 3px ;
      left: 30%;
      padding: 10%;
  }